
body {
	background-color:	#586;
}

img#banner {
	position:		absolute;
	left:			50px;
	top:			20px;
}

div#navbar {
	position:		absolute;
	left:			20px;
	width:			160px;
	top:			120px;
	font-family:		sans-serif;
	font-weight:		bold;
	font-size:		100%;
}

div#navbar a {
	display:		block;
	background-color:	#464;
	padding:		5px;
	margin-bottom:		5px;
	border-radius:		5px;
	text-decoration:	none;
}

div#navbar a.nav1 {
	text-shadow: 5px 3px 5px #020;
}

div#navbar a:hover {
	background-color:	#575;
}

div#navbar a:visited {
	color:			#def;
}

div#navbar a:link {
	color:			#def;
}

div#main {
	position:		absolute;
	left:			200px;
	right:			20px;
	top:			120px;
	background-color:	#ddd;
	padding:		10px;
	border-radius:		5px;
}

pre {
	margin-left:		50px;
	margin-right:		50px;
	padding:		10px;
	background-color:	#ffd;
	border-radius:		5px;
}

ul.cmds {
	max-width:		30em;
	overflow-x:		hidden;
	list-style:		none;
}

ul.cmds li:before {
	float:			left;
	width:			0;
	white-space:		nowrap;
	content:		". . . . . . . . . . . . . . . . . . . . "
				". . . . . . . . . . . . . . . . . . . . "
				". . . . . . . . . . . . . . . . . . . . "
				". . . . . . . . . . . . . . . . . . . . ";
}

ul.cmds a {
	padding-right:		0.33em;
	background:		#ddd;
}

ul.cmds span {
	float: right;
	padding-left:		0.33em;
	background:		#ddd;
}

