
body {
	background-color:	#586;
}

img#banner {
	position:		absolute;
	left:			50px;
	top:			20px;
}

div#navbar {
	position:		absolute;
	left:			20px;
	width:			160px;
	top:			120px;
	font-family:		sans-serif;
	font-weight:		bold;
	font-size:		100%;
}

div#navbar a {
	display:		block;
	background-color:	#464;
	padding:		5px;
	margin-bottom:		5px;
	border-radius:		5px;
	text-decoration:	none;
}

div#navbar a.nav1 {
	text-shadow: 5px 3px 5px #020;
}

div#navbar a:hover {
	background-color:	#575;
}

div#navbar a:visited {
	color:			#def;
}

div#navbar a:link {
	color:			#def;
}

div#main {
	position:		absolute;
	left:			200px;
	right:			20px;
	top:			120px;
	padding-bottom:		20px;
}

div#main > div {
	background-color:	#ddd;
	padding:		10px;
	border-radius:		5px;
}

pre {
	margin-left:		50px;
	margin-right:		50px;
	padding:		10px;
	background-color:	#ffd;
	border-radius:		5px;
}

pre.small {
	max-width:		500px;
	font-size:		small;
}

img.show {
	width:			calc(100% - 100px);
	margin-left:		50px;
	border-radius:		5px;
}

div.file:before {
	content: "Download: "
}

div.file {
	margin-top:		-5px;
	padding-top:		0px;
	margin-left:		50px;
	font-weight:		bold;
	font-size:		small;
}

div.tab {
	margin:			13px;
	margin-left:		50px;
	margin-right:		50px;
	background-color:	#dff;
}

div.tab > table {
	border:			1px solid black;
	width:			100%;
	border-collapse:	collapse;
}

div.tab > table th {
	border:			1px solid black;
}

div.tab > table td {
	border:			1px solid black;
	padding-left:		5px;
	padding-right:		5px;
}

ul.cmds {
	max-width:		500px;
	overflow-x:		hidden;
	list-style:		none;

	margin:			13px;
	margin-left:		50px;
	margin-right:		50px;
	background-color:	#dff;
	border-radius:		5px;
	padding:		10px;
}

ul.cmds li:before {
	float:			left;
	width:			0;
	white-space:		nowrap;
	content:		". . . . . . . . . . . . . . . . . . . . "
				". . . . . . . . . . . . . . . . . . . . "
				". . . . . . . . . . . . . . . . . . . . ";
}

ul.cmds a {
	padding-right:		0.33em;
	background:		#dff;
}

ul.cmds span {
	float: right;
	padding-left:		0.33em;
	background:		#dff;
}

